@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Fonts */
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --font-bebas-neue: var(--bebas-neue);

  /* Mapping Shadcn System to V4 Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Custom Color Palettes */
  --color-primary: #e7c9a5;
  --color-primary-admin: #25388c;

  --color-green: #027a48;
  --color-green-100: #ecfdf3;
  --color-green-400: #4c7b62;
  --color-green-500: #2cc171;
  --color-green-800: #027a48;

  --color-red: #ef3a4b;
  --color-red-400: #f46f70;
  --color-red-500: #e27233;
  --color-red-800: #ef3a4b;

  --color-blue-100: #0089f1;

  --color-light-100: #d6e0ff;
  --color-light-200: #eed1ac;
  --color-light-300: #f8f8ff;
  --color-light-400: #edf1f1;
  --color-light-500: #8d8d8d;
  --color-light-600: #f9fafb;
  --color-light-700: #e2e8f0;
  --color-light-800: #f8fafc;

  --color-dark-100: #16191e;
  --color-dark-200: #3a354e;
  --color-dark-300: #232839;
  --color-dark-400: #1e293b;
  --color-dark-500: #0f172a;
  --color-dark-600: #333c5c;
  --color-dark-700: #464f6f;
  --color-dark-800: #1e2230;

  --color-gray-100: #cbd5e1;

  /* Screen Breakpoints */
  --breakpoint-xs: 480px;

  /* Radii */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  /* Background Images */
  --background-image-pattern: url("/images/pattern.webp");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .hide-scrollbar::-webkit-scrollbar-track,
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

@layer components {
  /* Forms */
  .form-btn {
    @apply !bg-primary !text-dark-100 inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base;
  }
  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none bg-dark-300;
  }

  /* Books */
  .book-title {
    @apply mt-2 line-clamp-1 text-base font-semibold text-white xs:text-xl;
  }
  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic text-light-100 xs:text-base;
  }
  .book-btn {
    @apply bg-dark-600 mt-3 min-h-14 w-full font-bebas-neue text-base text-primary;
  }
  .book-list {
    @apply mt-10 flex flex-wrap gap-5 max-xs:justify-between xs:gap-10;
  }

  /* Covers */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }
  .book-cover_small {
    @apply w-13.75 h-19;
  }
  .book-cover_medium {
    @apply w-36 h-49.75;
  }
  .book-cover_regular {
    @apply xs:w-43.5 w-28.5 xs:h-59.75 h-42.25;
  }
  .book-cover_wide {
    @apply xs:w-74 w-[256px] xs:h-101 h-88.5;
  }

  /* Book Overview & Details */
  .book-overview {
    @apply flex flex-col-reverse items-center gap-12 sm:gap-32 xl:flex-row xl:gap-8;
  }
  .book-overview h1 {
    @apply text-5xl font-semibold text-white md:text-7xl;
  }
  .book-description {
    @apply mt-2 text-justify text-xl text-light-100;
  }
  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit bg-primary text-dark-100 hover:bg-primary/90 max-md:w-full;
  }

  /* Search & Navigation */
  .search {
    @apply relative mt-10 flex min-h-14 w-full items-center rounded-xl bg-dark-300 px-4;
  }
  .search-input {
    @apply w-full border-none font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none;
  }

  .pagination-btn_light {
    @apply bg-light-300 text-dark-300 hover:bg-light-300/70;
  }
  .pagination-btn_dark {
    @apply bg-dark-300 hover:bg-dark-100;
  }

  /* Select / Shadcn Overrides */
  .select-trigger {
    @apply w-40 h-10 px-4 bg-dark-300 text-light-100 border-dark-100;
  }
  .select-content {
    @apply bg-dark-300 text-light-100 border-dark-100;
  }
  .select-item {
    @apply focus:bg-dark-600 focus:text-light-100;
  }
}

@layer utilities {
  .gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }
  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }
  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

  .auth-container {
    @apply relative flex flex-col-reverse text-light-100 sm:flex-row;
  }
  .auth-form {
    @apply my-auto flex h-full min-h-screen flex-1 items-center bg-pattern bg-cover bg-top bg-dark-100 px-5 py-10;
  }
  .auth-box {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
    @apply mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-pattern bg-cover bg-top px-5 xs:px-10 md:px-16;
  }
}
